@font-face {
    font-family: "lato-black";
    src: url('./assets/fonts/Lato-Black.ttf');
}

@font-face {
    font-family: "lato-reg";
    src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: "lato-light";
    src: url('./assets/fonts/Lato-Light.ttf');
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-family: "lato-light";
}

.form-header {
    font-family: "lato-black";
}

.image-container {
    grid-column: 2;
}

img {
    max-width: 400px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    margin-bottom: 5px;
}

.form > h1,
select,
input,
.validation-box {
    margin-bottom: 15px;
}

select, input {
    background-color: hsl(0, 0%, 90%);
    border-radius: 3px;
}

input {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

select {
    width: 222px;
    height: 32px;
    cursor: pointer;
}

input:focus, 
select:focus {
    border: 1px solid black;
    outline: none;
}

select:focus,
select:active {
    width: 209px;
}

input:valid,
select:valid {
    border: 1px solid black;
}

input:invalid,
select:invalid {
    border: 1px solid red;
}

.form-controls {
    font-family: "lato-black";
}

.cancel-btn, .confirm-btn {
    width: 104px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(0, 0%, 35%);
    color: white;
    font-family: "lato-reg";
}

.cancel-btn:hover, .confirm-btn:hover {
    background-color: hsl(208, 78%, 88%);
    transition: 200ms ease-in-out;
    color: black;
}

.requirements {
    font-size: 0.8rem;
    color: black;
}

.message {
    font-size: 0.8rem;
    color: red;
}